// Import gridle :
@import 'gridle/gridle';

// setup the grid (required) :
@include gridle_setup((
	context : 12,
	gutter-width : 40px,
    name-multiplicator : 1,
	debug : true
));

// register special columns :
@include gridle_register_column('1on5', 1, 5);

// clear each classes :
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(12, both);

// register states :
@include gridle_register_default_states();
@include gridle_register_state(ipad-landscape, (
	query : "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)",
	gutter-width :0
));

@include gridle_register_state( mobile , (
    max-width : 480px
) );
@include gridle_register_state( tablet, (
    max-width : 768px
) );