/* style.scss */

@import 'reset';
@import 'grid-settings';

// Variables
$proxima: "proxima-nova",sans-serif; 
$museo: "museo-sans",sans-serif; 
$effra: "effra",sans-serif;

$green: #227f51;
$yellow: #ecc45f;
$darkgray: #393939;
$lightgray: #777777;

$mobile: "only screen and (max-width : 480px)";
$tablet-1: "only screen and (max-width : 767px)";
$tablet: "only screen and (max-width : 768px)";
$tablet-large: "only screen and (max-width : 1000px)";


// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@mixin button {
	font-family: $effra;
	font-weight: 400;
	color: #fff;
	border: none;
	text-transform: uppercase;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	padding: 15px 30px;
	cursor: pointer;
	-webkit-appearance: none;
	text-decoration: none;
}

@mixin button-green {
	@include button;
	background-color: #227f51;
	-webkit-box-shadow: 0 4px 0 #105a35;
	-moz-box-shadow: 0 4px 0 #105a35;
	-ms-box-shadow: 0 4px 0 #105a35;
	-o-box-shadow: 0 4px 0 #105a35;
	box-shadow: 0 4px 0 #105a35;
}

@mixin button-yellow {
	@include button;
	background-color: #ecc45f;
	-webkit-box-shadow: 0 4px 0 #d3b66e;
	-moz-box-shadow: 0 4px 0 #d3b66e;
	-ms-box-shadow: 0 4px 0 #d3b66e;
	-o-box-shadow: 0 4px 0 #d3b66e;
	box-shadow: 0 4px 0 #d3b66e;
}


// Global Elements
h1, h2, h3, h4, h5 {
	font-family: $museo;
	color: #616161;
}

h1 {
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 15px;
	@media #{$mobile} { 
		font-size: 38px;
		line-height: 48px;
	}
}

h2 { 
	font-size: 36px;
	line-height: 46px;
	margin-bottom: 10px;
}

h3 { 
	font-size: 30px;
	line-height: 40px;
}

h4 { 
	font-size: 24px;
	line-height: 34px;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

em {
	color: #393939;
	font-weight: bolder;
}

a {
	color: $green;
	text-decoration: none;
}

.button.green { @include button-green; }
.button.yellow { @include button-yellow; }

// Base Layout
body {
  font: 18px $proxima;
  color: $lightgray;
  background-color: #fff;
  font-weight: 300;
  line-height: 30px;
}

.container {
	position: relative;
	width: 95% !important;
	max-width: 1024px;
	margin: 0 auto;
	@include clearfix;
	z-index: 10;
}

.section {
	padding: 100px 0;
}

.intro {
	width: 95%;
	max-width: 630px;
	margin: 0 auto;
	h2 {
		margin-bottom: 40px;
	}
}

.gray {
	background-color: #f5f5f5;
}

.aligncenter { text-align: center; }
.alignleft { text-align: left; }
.alignright { text-align: right; }

.row {
    display: table;
	.left, .right {
		@include gridle(6);
		display: table-cell !important;
		float: none !important;
		vertical-align: middle;
		@media #{$tablet-1} {
			text-align: center;
			width: 100%;
			display: block !important;
			margin: 40px 0;
		} 
	}
	img {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
}

.grid-12 {
	@include gridle(12);
}

.grid-6 {
	@include gridle(6);
	@include gridle(12, mobile);
}

.grid-4 {
	@include gridle(4);
	@include gridle(12, mobile);
}


.inner {
	@include gridle(8);
	@include gridle(12, mobile);
}

.sidebar {
	@include gridle(4);
	@include gridle(12, mobile);
	.sidebar_section {
		margin-bottom: 30px;
	}
}

// Header Styles
nav {
	height: 95px;
	background: #fff;
	position: absolute;
	z-index: 9999;
	width: 100%;
	-webkit-box-shadow: 0 4px 0 rgba(69,69,69,0.08);
	-moz-box-shadow: 0 4px 0 rgba(69,69,69,0.08);
	-ms-box-shadow: 0 4px 0 rgba(69,69,69,0.08);
	-o-box-shadow: 0 4px 0 rgba(69,69,69,0.08);
	box-shadow: 0 4px 0 rgba(69,69,69,0.08);
	transition: height 300ms ease;
	.container {
		padding: 30px 0;
	}
	.header_toggle {
		display: none;
		float: right;
		font-size: 20px;
		color: $darkgray;
		&:hover {
			cursor: pointer;
		}
	}
	.navigation {
		@include clearfix;
		float: right;
		li {
			float: left;
			margin: 0 25px 0 0;
		}
		li a {
			font: 14px $proxima;
			text-decoration: none;
			color: inherit;
		}
		.page-item-23 {
			@include button-yellow;
			padding: 5px 20px;
			font-size: 14px;
			margin: -4px 0 0 5px;			
		}
	}
	
	@media #{$tablet-large} {
		height: auto;
		text-align: center;
		.container {
			padding: 20px 0 10px 0;
		}
		.logo {
			text-align: center;
			float: none;
			width: 100%;
			margin: 0 auto 15px auto;
		}
		.navigation {
			display: inline-block;
			clear: both;
			float: none;
			margin: auto;
		}	
	}
	
	@media #{$tablet-1} {
		height: 75px;
		text-align: left;
		.container {
			padding: 25px 0;
		}
		.header_toggle {
			display: block;
		}
		.logo {
			padding-top: 3px;
			text-align: left;
			margin: 0;
			max-width: 250px;
			float: left;
		}
		.navigation {
			clear:both;
			display: none;
			opacity: 0;
			float: none;
			transition: opacity 300ms ease;
			li {
				float: none;
				width: 100%;
				text-align: center;
				margin: 0;
				padding: 5px 15px;
				box-sizing: border-box;
			}
			.page-item-23 {
				width: 100%;
				font-size: 14px;
				box-sizing: border-box;
				margin: 15px 0 0 0;
				text-align: center;			
			}
		}
		&.toggled {
			height: auto;
			.navigation {
				display: block;
				opacity: 1;
			}
		}
	}
}

.home header h1 {
	margin-bottom: 0;
}

header {
	background: url(../images/header_bg.jpg) no-repeat center bottom;
	height: 650px;
	text-align: center;
	position: relative;	
	padding: 50px 0;
	@include box-sizing;
	.container {
		@include vertical-align;
		top: 55%;
		p {
			max-width: 770px;
			margin: 0 auto 60px auto;
			color: #747f79;
			font: 22px $museo;
			font-weight: 100;
			line-height: 32px;
		}
	}
	.header_icon {
		height: 130px;
		margin-bottom: 20px;
		img {
			height: 100%;
			width: auto;
		}
	}
	.header_button {
		@include button-yellow;
	}
	
	@media #{$mobile} {
		height: auto;
		padding: 120px 0 80px 0;
		.container {
		  position: relative;
		  top: auto;
		  -webkit-transform: translateY(0%);
		  -ms-transform: translateY(0%);
		  transform: translateY(0%);
		}
	}
}

.logo {
	max-width: 300px;
	float: left;
	a, img {
		display: block;
	}
	img {
		width: 100%;
		height: auto;
	}
}

// Home Page Styles
.quiktrac_hp {
	@include clearfix;
	img {
    	@include gridle(6);
		@include gridle(12 , tablet);
    	margin-right: 50px;
    	
		@media #{$tablet} {
			margin: 0 0 30px 0;
		}
	}
	.quiktrac_overview {
		padding-top: 10px;
    	@include gridle(5);
		@include gridle(12 , tablet);
	}
	h2 {
		margin-bottom: 10px;
	}
	a {
		color: #fc4237;
		text-decoration: none;
	}
}

.one_solution {
	margin-top: 90px;
	margin-bottom: 0;
	h2 {
		margin-bottom: 25px;
	}
	ul {
		margin-bottom: 0;
		li {
			@include gridle(4);
			@include gridle(12 , mobile);
			margin: 2% 0;
		}	
	}
}

.client_logos {
	margin: 60px 0 90px 0;
	img {
		max-width: 100%;
		height: auto;		
	}
}

.cs_coa {
	p {
		display: inline-block;
		margin-right: 60px;
		line-height: 50px;
		font-size: 24px;
		@media #{$tablet} {
			margin: 0 0 15px 0;
		}
	}
	a {
		@include button-green;
		display: inline-block;
	}
}

// About Styles
.company_description {
	@include gridle(6);
	@include gridle(12, tablet);
}

.about_image {
	@include gridle(5);
	@include gridle(12, tablet);
	img {
		max-width: 100%;
		height: auto;
		@media #{$tablet} {
			max-width: 75%;
			display: block;
			margin: 4% auto 0 auto;
		}
		@media #{$tablet} {
			max-width: 100%;
		}
	}
}

.why_were_different {
	ul {
		margin-top: 50px;
		margin-bottom: 0;
		li {
			@include gridle(3);
			@include gridle(6, tablet);
			@include gridle(12, mobile);
			margin: 3% 0;
			p {
				font-size: 16px;
			}
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
}

.bios {
	margin-top: 70px;
	.bio_container {
		margin: 0 auto 100px auto;
		@include clearfix;
		.andy {	background: url(../images/andy_jacobs.jpg) center center;}
		.ray {	background: url(../images/ray_toren.jpg) center center;}
		.bio_image {
		    height:0;
		    padding-bottom: 33.33%;
		    -moz-border-radius:  100%; 
		    -webkit-border-radius:  100%; 
		    border-radius:  100%;
			@include gridle(4);
			@include gridle(12, mobile);
			background-size: cover;
			margin-right: 50px;
			img {
				max-width: 100%;
				height: auto;
			}
			@media #{$mobile} {
				padding-bottom: 100%;
			}
		}
		.bio {
			padding-top: 30px;
			font-size: 16px;
			line-height: 28px;
			@include gridle(7);
			@include gridle(12, mobile);
			h3 span {
				font-size: 20px;
			}
		}
	}
	:last-child {
		margin-bottom: 0;
	}
}

// Hardware Styles 
.partners {
	@include clearfix;
	img {
		margin: 60px auto 0 -10%;
		max-width: 120%;
		height: auto;
		opacity: 0.75;
		@media #{$tablet} {
			max-width: 100%;
			margin: 60px auto 0 auto;
		}
	}
}

.questions {
	padding: 70px 0;
	h2 {
		margin-bottom: 0;
	}
	p {
		color: #777777;
		a, span {
			font-size: 24px;
			color: #227b50;
			text-decoration: none;
		}
	}
	@media #{$tablet-1} {
		padding: 0 0 70px 0;
	}
}

.trial {
	padding: 30px 0;
	p, a {
		display: inline-block;
	}
	a {
		@include button-yellow;
		margin-left: 40px;
	}
	@media #{$mobile} {
		a {
			margin: 20px 0 0 0;
		}
	}
}

// Software 

.quiktrac_window img {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.quiktrac_offers {
	background: #fdfdfd;
	padding: 40px;
	border: 1px solid #d1d1d1;
	p {			
		color: #393939;
		font-size: 30px;
		line-height: 40px;
		max-width: 650px;
		margin: auto;
		text-align: center;
	}
}

.software_header {
	text-align: center;
	max-width: 800px;
	margin: 0 auto 100px auto;
	img {
		max-height: 100px;
		max-width: 100%;
		display: block;
		margin: 0 auto 35px auto;
	}
}

.software_features {
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	ul li {
		@include gridle(3);
		@include gridle(6, tablet);
		@include gridle(12, mobile);
		margin: 3% 0;
		
		@media #{$tablet} {
			&:nth-child(2n+1){
			    clear:left
			}
		}
	}
}

.questions_software {
	padding: 70px 0;
	h2 {
		margin-bottom: 0;
	}
	p {
		color: #777777;
		a, span {
			font-size: 24px;
			color: #227b50;
			text-decoration: none;
		}
	}
}

// Case Study Styles 
.case_study_list {
	margin-top: 60px;
	@include clearfix;
	li {
		text-align: center;
		position: relative;
		background-size: cover;
		background-repeat: none;
		background-position: center center;
		width: 31.33%;
		float: left;
		margin: 0 2% 2% 0;
		height: 250px;
		overflow: hidden;
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
			background: #b1b1b1;
			opacity: 0.6;
			cursor: pointer;
			transition: background 200ms ease;
		}
		.container {
			@include vertical-align;
			top: 55%;
			position: relative;
		}
		h4 {
			font-family: $proxima;
			color: #fff;
			font-size: 24px;
			margin-bottom: 15px;
		}
		.button {
			position: relative;
			bottom: -300px;
			transition: all 200ms ease;
		}
		@media #{$tablet-1} {
			width: 100%;
			margin: 0 0 2% 0;
		}
	}
	:hover {
		.overlay {
			opacity: 0.85;
		}
		.button {
			bottom: 0;
		}
	}
}

article {
	margin-bottom: 100px !important;
	.cs_header {
		text-align: center;
		h2 {
			margin-bottom: 0;
		}
		.cs_meta {
			opacity: 0.8;
			font-style: italic;
		}
		.application {
			display: inline-block;
			@include clearfix;	
			li {
				font-size: 24px;
				float: left;
				margin-right: 10px;
				color: $green;
				font-style: normal;
				&:after {
					content: ", ";
				}
				&:last-child {
					&:after {
						content: "";
					}
				}
			}
		}
	}
	p {
		margin-bottom: 20px;
	}
	.entry_content {
		margin: 30px auto 100px auto;
	}
	.cs_extras {
		@include clearfix;
		padding: 5%;
		background: #f5f5f5;
		border: 1px solid #e3e3e3;
		.extra_bucket {
			@include gridle(6);
			@media #{$tablet-1} {
				width: 100%;
				margin: 40px 0;
			}
			li {
				list-style: disc;
				margin-left: 25px;
			}
		}
	}
}

body.single-post article {
	margin-bottom: 0 !important;
}

.testimonial {
	padding: 80px 0;
	margin-bottom: 100px;
	.container {
		max-width: 800px;
		margin: auto;
		p:last-child {
			margin-top: 30px;
		}
	}
}

// Contact Styles 
$border: 1px solid #e3e3e3;

.form_group {
	border-top: $border;
	border-left: $border;
	@include clearfix;
}

.form_field {
	padding-bottom: 10px;
	background: #f5f5f5;
	border-right: $border; 
	border-bottom: $border;
	transition: background 200ms ease; 
	label {
		color: inherit;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		line-height: 18px;
	}
	input, textarea {
		font-size: inherit;
		color: $darkgray;
		font-family: $proxima;
		font-weight: 300;
		background: none;
		border: 0;
		outline: none;
		width: 100%;
		margin: 0;
		resize: none;
	}
	textarea {
		overflow: auto;
	}
}

.form_group {
	margin-top: 2%;
}

.form_field.focused {
	background: #d3e5dc;
}

form {
	.button {
		font-size: 18px !important;
		font-family: $effra !important;
		border: 0;
		outline: none;
		margin: 2% 0 0 0;
	}
}

.screen-reader-response {
	display: none;
}

.wpcf7-response-output {
	margin-top: 40px;
	text-align: center;
	background: #d3e5dc;
	padding: 25px;
	color: $darkgray;
}

.wpcf7-display-none {
	padding: 0 !important;
}

.sidebar_questions {
	padding: 50px 0;
	font-size: 14px;
	line-height: 24px;
	h4 {
		margin-bottom: 0;
	}
	.sidebar_address {
		margin-top: 15px;
		font-size: 16px;
		line-height: 24px;
		h5 {
			font-size: 18px;
		}
		span {
			color: $green;
		}
	}
}

// Blog Styles 
.article_header {
	margin-bottom: 20px;
	h2 {
		margin-bottom: 5px;		
		a {
			color: inherit;
		}	
	}
	.meta {
		font-size: 16px;
		margin-bottom: 0;
		span {
			color: #393939;
		}
	}
}

.article_body {
	margin-bottom: 50px;
	img {
		max-width: 100%;
		height: auto;
		display: inline-block;
	}
	p:last-child {
		margin-bottom: 0;
	}
}


// Footer Styles 
footer {
	background: #414141;
	padding: 50px 0 15px 0;
	-webkit-box-shadow: 0 -4px 0 rgba(69,69,69,0.08);
	-moz-box-shadow: 0 -4px 0 rgba(69,69,69,0.08);
	-ms-box-shadow: 0 -4px 0 rgba(69,69,69,0.08);
	-o-box-shadow: 0 -4px 0 rgba(69,69,69,0.08);
	box-shadow: 0 -4px 0 rgba(69,69,69,0.08);
	font-size: 12px;
	line-height: 18px;
	a {
		color: inherit;
		text-decoration: none;
	}
}

.footer_nav {
	margin-bottom: 55px;
	.navigation {
		display: inline-block;
		height: 18px;
		margin-top: -10px;
		li {
			display: inline-block;
			margin-right: 40px;
		}
		:last-child {
			margin-right: 0;
		}
		a {
			color: #cccccc;
			text-decoration: none;
			font-size: 14px;
		}
		.page-item-23 {
			@include button-yellow;
		}
		@media #{$mobile} {
			margin: 5px auto;
			&:first-child {
				padding-top: 40px;
			}
		}
	}
	.footer_logo {
		display: inline-block;
		margin: 0 40px;
		width: 45px;
		height: 18px;
		img {
			margin-bottom: -4px;
		}
		@media #{$mobile} {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -15px;
		}
	}
}



/* Mobile */
@media #{$mobile} {
	header {
		height: auto;
		.container {
		  position: relative;
		  top: auto;
		  -webkit-transform: translateY(0%);
		  -ms-transform: translateY(0%);
		  transform: translateY(0%);
		}
	}
}